#nav {
    margin-bottom: 20px;
}

.action-icon {
    cursor: pointer;
}

.user-add, .tenant-add {
    margin-right: 5px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e9e9e9;
}