* text=auto !eol
/.gitignore -text
cloud-static/pom.xml -text
cloud-static/src/main/resources/WEB-INF/web.xml -text
cloud-static/src/main/resources/resources/css/admin.css -text
cloud-static/src/main/resources/resources/css/cloud.css -text
cloud-static/src/main/resources/resources/css/index.css -text
cloud-static/src/main/resources/resources/css/justified-nav.css -text
cloud-static/src/main/resources/resources/css/main.css -text
cloud-static/src/main/resources/resources/css/register.css -text
cloud-static/src/main/resources/resources/debug/platform/notification.data -text
cloud-static/src/main/resources/resources/debug/resource.data -text
cloud-static/src/main/resources/resources/debug/service.data -text
cloud-static/src/main/resources/resources/debug/user.data -text
cloud-static/src/main/resources/resources/debug/user/checkUser.data -text
cloud-static/src/main/resources/resources/debug/user/dept.data -text
cloud-static/src/main/resources/resources/img/abTelSplitBg.gif -text
cloud-static/src/main/resources/resources/img/bgimg.jpg -text
cloud-static/src/main/resources/resources/img/cFromArea.png -text
cloud-static/src/main/resources/resources/img/cpu.png -text
cloud-static/src/main/resources/resources/img/cubeBanner_21.png -text
cloud-static/src/main/resources/resources/img/diaCls.gif -text
cloud-static/src/main/resources/resources/img/icon-prd-1.gif -text
cloud-static/src/main/resources/resources/img/icon-prd-1.png -text
cloud-static/src/main/resources/resources/img/icon-prd-2.gif -text
cloud-static/src/main/resources/resources/img/icon-prd-2.png -text
cloud-static/src/main/resources/resources/img/icon-prd-3.gif -text
cloud-static/src/main/resources/resources/img/icon-prd-3.png -text
cloud-static/src/main/resources/resources/img/icons-app/cloud.png -text
cloud-static/src/main/resources/resources/img/icons-app/data58.png -text
cloud-static/src/main/resources/resources/img/icons-app/email58.png -text
cloud-static/src/main/resources/resources/img/icons-app/fix[!!-~]income58.png -text
cloud-static/src/main/resources/resources/img/icons-app/news58.png -text
cloud-static/src/main/resources/resources/img/icons-app/noneImg.gif -text
cloud-static/src/main/resources/resources/img/icons-app/oa58.png -text
cloud-static/src/main/resources/resources/img/icons-app/pms58.png -text
cloud-static/src/main/resources/resources/img/icons-app/smart[!!-~]chart58.png -text
cloud-static/src/main/resources/resources/img/icons-app/stock58.png -text
cloud-static/src/main/resources/resources/img/icons-app/trade58.png -text
cloud-static/src/main/resources/resources/img/icons-app/workflow58.png -text
cloud-static/src/main/resources/resources/img/icons-attention.png -text
cloud-static/src/main/resources/resources/img/icons_1_f.png -text
cloud-static/src/main/resources/resources/img/icons_1_n.png -text
cloud-static/src/main/resources/resources/img/icons_2_f.png -text
cloud-static/src/main/resources/resources/img/icons_2_n.png -text
cloud-static/src/main/resources/resources/img/icons_3_f.png -text
cloud-static/src/main/resources/resources/img/icons_3_n.png -text
cloud-static/src/main/resources/resources/img/icons_4_f.png -text
cloud-static/src/main/resources/resources/img/icons_4_n.png -text
cloud-static/src/main/resources/resources/img/icons_add.png -text
cloud-static/src/main/resources/resources/img/logo.png -text
cloud-static/src/main/resources/resources/img/logo2.png -text
cloud-static/src/main/resources/resources/img/noneImg.gif -text
cloud-static/src/main/resources/resources/img/sampleBg.gif -text
cloud-static/src/main/resources/resources/img/sampleMap.gif -text
cloud-static/src/main/resources/resources/img/tbDel.png -text
cloud-static/src/main/resources/resources/img/tbEdit.png -text
cloud-static/src/main/resources/resources/js/admin.js -text
cloud-static/src/main/resources/resources/js/app.js -text
cloud-static/src/main/resources/resources/js/contact.js -text
cloud-static/src/main/resources/resources/js/index.js -text
cloud-static/src/main/resources/resources/js/localization/messages_zh.js -text
cloud-static/src/main/resources/resources/js/register.js -text
cloud-static/src/main/resources/resources/js/resource.js -text
cloud-static/src/main/resources/resources/js/service.js -text
cloud-static/src/main/resources/resources/js/tenant.js -text
cloud-static/src/main/resources/resources/js/user.js -text
cloud-static/src/main/resources/resources/js/util.js -text
cloud-static/src/main/resources/resources/lib/assets/css/docs.css -text
cloud-static/src/main/resources/resources/lib/assets/css/pygments-manni.css -text
cloud-static/src/main/resources/resources/lib/assets/ico/apple-touch-icon-114-precomposed.png -text
cloud-static/src/main/resources/resources/lib/assets/ico/apple-touch-icon-144-precomposed.png -text
cloud-static/src/main/resources/resources/lib/assets/ico/apple-touch-icon-57-precomposed.png -text
cloud-static/src/main/resources/resources/lib/assets/ico/apple-touch-icon-72-precomposed.png -text
cloud-static/src/main/resources/resources/lib/assets/ico/favicon.png -text
cloud-static/src/main/resources/resources/lib/assets/js/html5shiv.js -text
cloud-static/src/main/resources/resources/lib/assets/js/respond.min.js -text
cloud-static/src/main/resources/resources/lib/backbone/backbone.js -text
cloud-static/src/main/resources/resources/lib/backbone/backbone.localStorage.js -text
cloud-static/src/main/resources/resources/lib/backbone/underscore.js -text
cloud-static/src/main/resources/resources/lib/bootstrap/css/bootstrap-theme.css -text
cloud-static/src/main/resources/resources/lib/bootstrap/css/bootstrap-theme.min.css -text
cloud-static/src/main/resources/resources/lib/bootstrap/css/bootstrap.css -text
cloud-static/src/main/resources/resources/lib/bootstrap/css/bootstrap.min.css -text
cloud-static/src/main/resources/resources/lib/bootstrap/fonts/glyphicons-halflings-regular.eot -text
cloud-static/src/main/resources/resources/lib/bootstrap/fonts/glyphicons-halflings-regular.svg -text
cloud-static/src/main/resources/resources/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf -text
cloud-static/src/main/resources/resources/lib/bootstrap/fonts/glyphicons-halflings-regular.woff -text
cloud-static/src/main/resources/resources/lib/bootstrap/js/bootstrap.js -text
cloud-static/src/main/resources/resources/lib/bootstrap/js/bootstrap.min.js -text
cloud-static/src/main/resources/resources/lib/jquery/additional-methods.js -text
cloud-static/src/main/resources/resources/lib/jquery/jquery-2.0.3.js -text
cloud-static/src/main/resources/resources/lib/jquery/jquery.validate.js -text
cloud-static/src/main/resources/resources/lib/jquery/jsrender.js -text
cloud-static/src/main/resources/resources/lib/requirejs/require.js -text
cloud-static/src/main/resources/resources/lib/sinon/sinon-1.7.3.js -text
cloud-static/src/main/resources/resources/loader.js -text
cloud-static/src/main/resources/resources/template/addTenant.tpl -text
cloud-static/src/main/resources/resources/template/addUser.tpl -text
cloud-static/src/main/resources/resources/template/admin.tpl -text
cloud-static/src/main/resources/resources/template/confirmDialog.tpl -text
cloud-static/src/main/resources/resources/template/contact.tpl -text
cloud-static/src/main/resources/resources/template/editTenant.tpl -text
cloud-static/src/main/resources/resources/template/help.tpl -text
cloud-static/src/main/resources/resources/template/index.tpl -text
cloud-static/src/main/resources/resources/template/nav.tpl -text
cloud-static/src/main/resources/resources/template/resource.tpl -text
cloud-static/src/main/resources/resources/template/resourceManager.tpl -text
cloud-static/src/main/resources/resources/template/service.tpl -text
cloud-static/src/main/resources/resources/template/serviceList.tpl -text
cloud-static/src/main/resources/resources/template/tenant.tpl -text
cloud-static/src/main/resources/resources/template/tenantManager.tpl -text
cloud-static/src/main/resources/resources/template/top.tpl -text
cloud-static/src/main/resources/resources/template/user.tpl -text
cloud-static/src/main/resources/resources/template/userDepartment.tpl -text
cloud-static/src/main/resources/resources/template/userManager.tpl -text
cloud-web/pom.xml -text
cloud-web/src/main/java/com/datayes/cloud/controller/CloudController.java -text
cloud-web/src/main/java/com/datayes/cloud/controller/TenantController.java -text
cloud-web/src/main/java/com/datayes/cloud/controller/UserController.java -text
cloud-web/src/main/java/com/datayes/cloud/dao/BaseDao.java -text
cloud-web/src/main/java/com/datayes/cloud/dao/CloudDao.java -text
cloud-web/src/main/java/com/datayes/cloud/exception/CloudException.java -text
cloud-web/src/main/java/com/datayes/cloud/exception/LoginException.java -text
cloud-web/src/main/java/com/datayes/cloud/model/Server.java -text
cloud-web/src/main/java/com/datayes/cloud/model/Service.java -text
cloud-web/src/main/java/com/datayes/cloud/model/Tenant.java -text
cloud-web/src/main/java/com/datayes/cloud/model/TenantService.java -text
cloud-web/src/main/java/com/datayes/cloud/model/Usage.java -text
cloud-web/src/main/java/com/datayes/cloud/model/User.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/CloudManager.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/ComputeManager.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/NetworkManager.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/OpenstackContext.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/StorageManager.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/TenantManager.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Access.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Action.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Auth.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/BlockDeviceMapping.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Endpoint.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Flavor.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Floating_ip.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Image.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Link.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Metadata.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Network.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Role.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/SecurityGroup.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/SecurityGroupRule.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Server.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/ServerAddress.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/ServiceCatalog.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Subnet.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Tenant.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Token.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/User.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/Volume.java -text
cloud-web/src/main/java/com/datayes/cloud/openstack/access/VolumeAttachment.java -text
cloud-web/src/main/java/com/datayes/cloud/service/OpenstackContextFactory.java -text
cloud-web/src/main/java/com/datayes/cloud/service/TenantService.java -text
cloud-web/src/main/java/com/datayes/cloud/service/UserService.java -text
cloud-web/src/main/java/com/datayes/cloud/util/CommonUtil.java -text
cloud-web/src/main/java/com/datayes/cloud/util/DeleteUtil.java -text
cloud-web/src/main/java/com/datayes/cloud/util/JsonUtil.java -text
cloud-web/src/main/java/com/datayes/cloud/util/JsonpMappingJackson2JsonView.java -text
cloud-web/src/main/java/com/datayes/cloud/util/ServerInitUtil.java -text
cloud-web/src/main/java/com/datayes/cloud/util/TrustAllSSLSocketFactory.java -text
cloud-web/src/main/resources/context/cloud-beans.xml -text
cloud-web/src/main/resources/context/cloud-config.properties -text
cloud-web/src/main/resources/context/cloud-web.xml -text
cloud-web/src/main/resources/context/init-cloud.sql -text
cloud-web/src/main/resources/ldap.properties -text
cloud-web/src/main/resources/logback.xml -text
cloud-web/src/main/resources/serverscript/ad/win2008/addeploy-2008.ps1 -text
cloud-web/src/main/resources/serverscript/ad/win2008/joinad-2008.ps1 -text
cloud-web/src/main/resources/serverscript/ad/win2012/addeploy-2012.ps1 -text
cloud-web/src/main/resources/serverscript/zabbix/ubuntu12.04/install_zabbix_agent_ubuntu12.04 -text
cloud-web/src/main/resources/serverscript/zimbra/ubuntu12.04/installzimbra-ubuntu12.04 -text
cloud-web/src/main/resources/serverscript/zimbra/ubuntu12.04/installzimbra-ubuntu12.04-passwd -text
cloud-web/src/main/resources/serverscript/zimbra/ubuntu12.04/passwd.sh -text
cloud-web/src/main/webapp/WEB-INF/pages/admin.html -text
cloud-web/src/main/webapp/WEB-INF/pages/index.html -text
cloud-web/src/main/webapp/WEB-INF/web.xml -text
cloud-web/src/test/java/com/datayes/cloud/ContextTest.java -text
cloud-web/src/test/java/com/datayes/cloud/openstack/TenantManagerTest.java -text
cloud-web/src/test/resources/logback-test.xml -text
/pom.xml -text
