*.class
*.iml
target
.DS_Store
!cloud-static/src/main/resources/resources/js/localization/*.class
!cloud-static/src/main/resources/resources/js/localization/*.iml
!cloud-static/src/main/resources/resources/js/localization/target
!cloud-static/src/main/resources/resources/js/localization/.DS_Store
!cloud-static/src/main/resources/WEB-INF/lib/*.class
!cloud-static/src/main/resources/WEB-INF/lib/*.iml
!cloud-static/src/main/resources/WEB-INF/lib/target
!cloud-static/src/main/resources/WEB-INF/lib/.DS_Store
!cloud-static/src/main/resources/resources/debug/platform/*.class
!cloud-static/src/main/resources/resources/debug/platform/*.iml
!cloud-static/src/main/resources/resources/debug/platform/target
!cloud-static/src/main/resources/resources/debug/platform/.DS_Store
!cloud-static/src/main/resources/resources/img/icons-app/*.class
!cloud-static/src/main/resources/resources/img/icons-app/*.iml
!cloud-static/src/main/resources/resources/img/icons-app/target
!cloud-static/src/main/resources/resources/img/icons-app/.DS_Store
!cloud-static/src/main/resources/resources/debug/user/*.class
!cloud-static/src/main/resources/resources/debug/user/*.iml
!cloud-static/src/main/resources/resources/debug/user/target
!cloud-static/src/main/resources/resources/debug/user/.DS_Store
