.center {
    margin: 0 auto;
    float: none;
}
#btn_reg {
    margin-right: 10px;
}
.datayes-logo:before {
    content: 'DataYes';
}
.active .bottom-menu a,
.bottom-menu a:hover,
.bottom-menu a:focus {
    color: #3498db;
}
.demo-headline {
    color: #3498db;
}
.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="datetime"],
.control-group.focus input[type="datetime-local"],
.control-group.focus input[type="date"],
.control-group.focus input[type="month"],
.control-group.focus input[type="time"],
.control-group.focus input[type="week"],
.control-group.focus input[type="number"],
.control-group.focus input[type="email"],
.control-group.focus input[type="url"],
.control-group.focus input[type="search"],
.control-group.focus input[type="tel"],
.control-group.focus input[type="color"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #3498db;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
    color: #3498db;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #3498db;
}
.navbar.navbar-inverse .navbar-search.form-search .input-append .search-query:focus + .btn {
    border-color: #3498db;
}
.form-search.focus .btn {
    border-color: #3498db;
    color: #3498db;
}
.form-search.focus input {
    border-color: #3498db;
}
.navbar .navbar-search .search-query:focus {
    border-color: #3498db;
}
.navbar .navbar-search.form-search .input-append .search-query:focus + .btn {
    border-color: #3498db;
}
